.App {
    --header_height: 60px;
}

.hw {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.hwTitle {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding: 17px 0 0;
    width: 1170px;
    margin: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
}