.greetingForm {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.inputAndButtonContainer {
    display: flex;
    max-height: 70px;


}

.error {
    color: red;
}

.input {
    width: 350px;
    height: 40px;

}

.input:focus {

}

.errorInput {
    border: 1px solid crimson;
    width: 350px;
    height: 40px;
}

.button {
    resize: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    margin-left: 12px;
    max-height: 40px;
    color: #FFFFFF;
    border: 1px solid black;
    background-color: #0066CC;
    border-radius: 3px;

}

.button:focus {

}

.button:active {

}

.button:disabled {
    color: #FFFFFF;
    background-color: #0066CC;
    opacity: 0.5;
    border-radius: 3px;

}

.text {
}

.greeting {
    color: #0066CC;
}
