.sendForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    resize: none;
    height: 100px;
}

.textarea {
    width: 100%;
    margin-right: 44px;
    max-height: 40px;
    background-color: #F5F7FB;
    overflow: hidden;
    resize: none;
    height: 100px;
}

.button {
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background-color: #0066cc;
    border: 1px solid #0066cc;
    max-height: 30px;
}

.button:hover {
    border: 1px solid black;
}
.button:active {

}
